.lgyrlz {
  background-color: transparent !important;
}
.hhFJlm {
  /* background-color: #161522 !important; */
  background-color: #fff !important;
  color: #000 !important;
}
.jnvoRm {
  color: #fff !important;
}
.gTcqlT {
  fill: #fff !important;
}
.hZVDbF {
  color: #fff !important;
}
.iGdKqv {
  border-color: #fff !important;
  box-shadow: none;
  color: #fff !important;
}
.heKKwK {
  border-color: #fff !important;
  box-shadow: none;
  color: #fff !important;
}
.eUyVkd,
.jibsak,
.hFUUvd {
  background-color: #161522 !important;
  color: #fff !important;
}
.jFIScR {
  background-color: transparent;
  color: #000 !important;
}
.evumGo {
  background-color: #161522 !important;
}
.hsqAaa {
  display: inline !important;
}
.iONwHy {
  width: unset !important;
}
.gcQKnf {
  fill: #fff !important;
}
.iZJBPy {
  fill: #1263f1 !important;
}
.jRNEBu {
  color: #fff !important;
}
.eSvlCC {
  color: #000 !important;
  background-color: #e5e7e7 !important;
}
.JTniw {
  background-color: transparent !important;
}
.dMyrsm {
  background-color: transparent !important;
}
.kChkRq {
  background-color: transparent !important;
}
.jWkMFN {
  fill: #fff !important;
}
.gTGzfO {
  fill: #fff !important;
}
.hufIwr {
  fill: #fff !important;
}
.jJOcej {
  color: #fff !important;
}
.bsLwMN {
  background-color: transparent !important;
}
.gEUBpy {
  background-color: transparent !important;
}
.jjEZxv {
  background-color: transparent !important;
}
.cacumS {
  background-color: transparent !important;
}
.eUVghC {
  background-color: transparent !important;
}
.jvEWoM {
  color: #fff !important;
}
.kvjDUB {
  color: #fff !important;
}
.kofeUK {
  color: #fff !important;
}
.dqmfMZ {
  color: #fff !important;
}
.gfaeWj {
  fill: #fff !important;
}

@media (max-width: 970px) {
  .dMyrsm {
    background-color: #171798 !important ;
  }
  .kChkRq {
    background-color: #171798 !important;
  }
}

@media (max-width: 480px) {
  .dMyrsm {
    background-color: #171798 !important;
  }
  .kChkRq {
    background-color: #171798 !important;
  }
}
@media (max-width: 768px) {
  .dMyrsm {
    background-color: #171798 !important;
  }
  .kChkRq {
    background-color: #171798 !important;
  }
}
.dnbNHl {
  background: transparent !important;
}
.btnSwapNonActive,
.btnSwapNonActive:hover,
.btnLiquidityNonActive,
.btnLiquidityNonActive:hover {
  background: transparent !important;
  color: #fff !important;
  border: 0px;
  box-shadow: none !important;
  opacity: 1 !important;
}
.btnSwap:active,
.btnSwap:visited,
.btnLiquidity:active,
.btnLiquidity:visited {
  background: #e5e7e7 !important;
  color: black !important;
  border-radius: 16px !important;
  padding: 4px 19px !important;
  opacity: 1 !important;
}
.jzgrgs {
  background-color: #fff !important;
  color: black !important;
}
.sc-fiKUUL h2,
.sc-fiKUUL div {
  color: black !important;
}
.gcQKnf {
  fill: #1263f1 !important;
}
.sc-gsTCUz {
  color: rgb(112, 141, 183) !important;
}
.fbovLQ {
  background-color: #fff !important;
  box-shadow: none !important;
  border: 1px solid #e5e7e7;
}
.hSFnST {
  color: black !important;
}
.hjKPmy {
  fill: black !important;
}
.fsSeeb {
  color: black !important;
}
.bTDxgI {
  background-color: #1263f1 !important;
}
.joKvYL {
  background-color: #1263f1 !important;
}
.jRNEBu {
  background-color: transparent !important;
}
.token-amount-input::placeholder {
  color: black !important;
}
.fVzdOE {
  background-color: #e5e7e7 !important;
  color: #000 !important;
}
.btnAddLiqidity {
  background-color: #1263f1 !important;
  color: #fff !important;
}
.iCBgbH,
.iGeHqK {
  background-color: #1263f1 !important;
}
.iGeHqK {
  fill: #fff;
}
.hJLzvk {
  background: transparent !important;
}
.emvnVi {
  color: rgb(7, 22, 45) !important;
}
.PZmzo {
  background-color: #1263f1 !important;
  box-shadow: none !important;
  opacity: 1 !important;
}
.PZmzo:hover {
  background-color: rgb(18, 99, 241);
  box-shadow: none !important;
  opacity: 0.85 !important;
}
.eIbyFk,
.fMoIlI {
  color: #000 !important;
}
.hiRMEQ,
.leKiKm {
  background-color: #e5e7e7 !important;
  border: 1px solid #e5e7e7 !important;
  color: #000 !important;
  box-shadow: none !important;
}
.hiRMEQ::placeholder {
  color: #000 !important;
}
/* .leKiKm {
  background-color: #e5e7e7 !important;
  color: #000 !important;
  border: 1px solid #e5e7e7 !important;
} */
.txtColorBlack {
  color: #000 !important;
}
.btnBlack {
  background: #000 !important;
}
.dBgqSY,
.kcqjcQ {
  background-color: #e5e7e7 !important;
  color: #000 !important;
}
.dBgqSY:hover,
.kcqjcQ:hover {
  background-color: rgb(215 202 236) !important;
  color: #000 !important;
  opacity: 1 !important;
}
.eWzewY,
.eXpmsV {
  color: #000 !important;
}
.eyTOQi {
  fill: #000 !important;
}
.bkvVJF {
  background-color: #fff !important;
  opacity: 1 !important;
}
.efbwOe {
  color: #738fb8 !important;
}
.iGKnqJ,
.bCLZBw:hover,
.hSCCHK:hover,
.IahEH:hover,
.eIaIqp:hover,
.bCLZBw:hover .fsSeeb,
.hSCCHK:hover .fsSeeb {
  background-color: #e5e7e7 !important;
}
.eIaIqp:focus,
.IahEH:focus {
  background-color: #e5e7e7 !important;
}
.farm_serv_box {
  background: #0b3d4d !important;
  padding: 22px !important;
  border-radius: 30px !important;
}
/* .farm_content p {
  color: #000 !important;
} */
.harvest {
  background-color: #fff !important;
  color: #000 !important;
}
.harvest:hover {
  background-color: #071731 !important;
  border: 1px solid #e5e7e7 !important;
  color: #fff !important;
}
.farm_input input {
  background-color: #fff !important;
  color: #000 !important;
}
.farm_submit_btn button {
  background-color: #fff !important;
  color: #000 !important;
  background-image: none !important;
}
.farm_submit_btn button:hover {
  background-color: rgb(215 202 236) !important;
}

.farm_usd_set p {
  color: #000 !important;
}
.ule_imgset {
  color: #000 !important;
}
.qtpfC:hover,
.jSNiHo:hover,
.evqhkY:hover,
.jmcbFC:hover {
  background: #1c3254 !important;
  /* color: #749BD8; */
}
/* .question {
  color: #000 !important;
  background-color: rgb(215 202 236) !important;
} */
.cwbBLc {
  background-color: rgb(112, 141, 183) !important;
}
.tableWalletAddress {
  border: 1px solid #fff;
  padding: 10px 20px !important;
  border-radius: 15px;
}
.farmHeadings {
  font-size: 17px;
  font-weight: 500;
}
.farmHistory {
  font-size: 20px;
  font-weight: 600;
}
.staking_price .farm_price span {
  font-weight: 100;
}
.staking_price h2 {
  font-weight: 100;
}
.eSvlCC:hover {
  background-color: #071731 !important;
  opacity: 1 !important;
  color: #fff !important;
}
.gQUrCu,
.gQUrCu:hover {
  background-color: #e5e7e7 !important;
  color: #000 !important;
}
